* {
    box-sizing: border-box;

}
main {
    width: 60%; 
    height: 300%;
    padding: 300PX;
    padding-bottom: 300px;
    border: 1px solid rgb(239, 243, 198);
    background-color: rgba(215, 142, 223, 0.484);
    margin: auto;
    border-radius:5% ;
    justify-content: center;

    flex-direction: column;

}
#fieldset {
    width: 100%;
    padding-right: 20px;
    padding-left: 60px;
    border: 1px solid rgba(70, 89, 228, 0.413);
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;


}
#pokemonList {
    width:60% ;
    height: 40%;
    background-color: rgb(242, 225, 91);
    padding: 10px;
    margin: auto;
    border: 2px solid;
}
#form {
    border: 1px solid blue;
    padding: 25px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
}

